<p>Add Employee to team</p>
<%= form_tag do |f| %> 
   <%= select_tag(:id, 
   options_for_select(Employee.all.map{ |f| [f.name, f.id]}), :prompt => "Select Employee") %> 
   <%= submit_tag "Submit" %> 
<% end %>
</p>