<% if @teams.blank? %>
<p>No Teams.</p>
<% else %>
<p>Teams</p>

<ul id = "teams">
   <% @teams.each do |c| %>
   <li><%= link_to c.name, {:action => 'show', :id => c.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Team", {:action => 'new' }%></p>