





<%= form_for :team,:url => { :action => 'create'} do |f| %>
<h2>ADD NEW TEAM</h2>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
     <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', {:action => 'index'} %>