<h2><%=@team.name%></h2>
<p><strong>Name:</strong><%=@team.name%></p>
<p>Add Employee to team</p>
<%= form_tag team_add_employees_teams_path(@team.id) do  %> 
   <%= collection_select :employee, :id, Employee.all, :id, :name %>
   <%= submit_tag %> %> 
<% end %>
</p>
<%= link_to 'Back', {:action => 'index'} %>