<% if @employees.blank? %>
<p>No Employees.</p>
<% else %>
<p>Employees</p>

<ul id = "employees">
   <% @employees.each do |c| %>
   <li><%= link_to c.name, {:action => 'show', :id => c.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Employee", {:action => 'new' }%></p>
<p><%= link_to "List Teams",:controller =>"teams", :action => 'index' %></p>