                    



<%= form_for :employee,:url => { :action => 'create'} do |f| %>
<h2>  ADD NEW EMPLOYEE</h2>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :date_of_join %><br>
    <%= f.text_field :date_of_join %>
  </p>
  <p>
    <%= f.label :designation %><br>
    <%= f.text_field :designation %>
  </p>
   <p>
    <%= f.label :registration_id %><br>
    <%= f.text_field :registration_id %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', {:action => 'new'} %>