<h3><%= @employee.name %></h3>

<p>
   <strong>Designation: </strong> <%= @employee.designation %><br />
   <strong>Date of join :</strong> <%= @employee.date_of_join %><br />
   <strong>Registration id:</strong> <%= @employee.registration_id %><br />
</p>




<%= link_to 'Back', {:action => 'index'} %>